@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body,html {
	margin: 0;
	width: 100%;
	width: 100%;
	scroll-behavior: smooth;
}
@font-face {
	font-family: "Pixel";
	src: url('./font/Mondwest-Regular.otf');
}

@font-face {
	font-family: "Italic";
	src: url('./font/zai_ItalicHandCalligraphy.otf');
}

@font-face {
	font-family: "NimbusRom";
	src: url('./font/NimbusRomNo9L-Reg.otf');
}